.AuthMain {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    opacity: 50%;
}


.AuthMain1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the full screen */
    /* z-index: -1; Places the video behind other content */
    position: fixed;
  }


.AuthMain .auth-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    justify-content: center;
    /* gap: 10rem; */

}

.AuthMain .auth-inner .container-box {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.AuthMain .auth-inner .container-box .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.AuthMain .auth-inner .container-box .content .main-heading {
    font-size: 2.8rem;
    line-height: 3.5rem;
    font-weight: 600;
    color: var(--white);
}

.AuthMain .auth-inner .container-box .content .main-heading .hii {
    animation: leftRightZag 1s infinite;
}

@keyframes leftRightZag {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }

}

.AuthMain .auth-inner .container-box .content p,
.AuthMain .auth-inner .container-box .content .accontTggle {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--white);
}

.AuthMain .auth-inner .container-box .content .mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: var(--black);
}

.AuthMain .auth-inner .container-box .inputFieldBox {
    width: 100%;
}

.AuthMain .auth-inner .container-box .content .accontTggle {
    margin: 0 auto;
}

.AuthMain .auth-inner .container-box .content p.active {
    color: var(--main-purple);
}

.AuthMain .auth-inner .container-box .content .TextInput {
    transform: all .3s ease;
}
@media (min-width: 768px) and (max-width: 1299px) {
    .AuthMain .auth-inner .container-box .content {
        width: 100%;
        padding: 2rem;
        z-index: 2;
    }
   
    .AuthMain .auth-inner .container-box{
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .AuthMain .auth-inner .container-box {
        width: 100%;
    }

    .AuthMain .auth-inner .container-box .content {
        width: 100%;
        padding: 4rem;
        z-index: 2;
    }

    .AuthMain .auth-inner .container-box .side-img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20%;
        z-index: 1;
    }
    
}